// @import '../../styles.scss';
$border: 1px solid #dadce0;

.nav-top {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-bottom: $border;
    .nav-top-inner {
        // height: 80px;
        width: 100%;
    }

    .room-name {
        font-size: 1.25rem;
        color: #202124;
        font-weight: 400;
    }

    .room-state-text {
        margin-left: 5px;
        color: #666;
    }

    .nav-btn {
        width: 2rem;
        margin: 0 0.8rem;
        mat-icon {
            color: #666;
            font-size: 2rem;
        }
        .user-avatar {
            width: 100%;
            border-radius: 50%;
        }
    }
}