.chat-list {
    text-align: left;
    .message-item {
        overflow: hidden;
        .chat-message-info {
            color: #ccc;
            text-align: center;
            font-size: 1.2rem;
        }

        .chat-msg-block {
            display: flex;
            align-items: center;
            max-width: calc(100% - 56px);
            float: left;
            .chat-msg-content { 
                margin: 0 10px;
                float: right;
            }
            &.self {
                flex-direction: row-reverse;
                float: right;
                .chat-msg-content {
                    text-align: right;
                }
            }
            .chat-msg-avatar {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
            }
            .chat-msg-text {
                word-break: break-all;
            }
        }
    }
}